@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground antialiased;
  font-feature-settings: "ss01", "ss02", "cv01", "cv03";
}

section {
  scroll-margin-top: 100px;
}
